2-ai-outreach/workflow.json
{
  "name": "Outreach System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8",
          "mode": "list",
          "cachedResultName": "Edit Theory - Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "11edc68c-137b-4566-b890-b64ae9103dc9",
      "name": "Google Sheets Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f329cbc2-17d3-450e-942a-2b7ea4f86ce8",
              "name": "=Opener",
              "value": "={{ JSON.parse($json.choices[0].message.content).opener }}",
              "type": "string"
            },
            {
              "id": "11f70074-73a2-4a55-9549-8fd00113fe05",
              "name": "Email",
              "value": "={{ JSON.parse($json.choices[0].message.content).email }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "7713623a-198b-4796-93c1-1970a7242929",
      "name": "Parse Respond"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8",
          "mode": "list",
          "cachedResultName": "Edit Theory - Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Generated Opener": "={{ $('Parse Respond').item.json.Opener }}",
            "Name": "={{ $('Google Sheets Trigger').item.json.Name }}",
            "Full Cold Email": "={{ $('Parse Respond').item.json.Email }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recent post topic",
              "displayName": "Recent post topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated Opener",
              "displayName": "Generated Opener",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Cold Email",
              "displayName": "Full Cold Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "6231b286-1523-443f-9401-4c8c11c36857",
      "name": "Append or update row in sheet",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json.Email }}",
        "subject": "=Your {{ $('Google Sheets Trigger').item.json.Niche }} content + [Client Brand]",
        "emailType": "text",
        "message": "={{ $('Parse Respond').item.json.Opener }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "2f902631-d046-4fc7-a84a-7b3c88144bef",
      "name": "Send a message",
      "webhookId": "d8cc917c-ec9a-4b1f-b299-93d07d38c44b",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": " Authorization",
              "value": "Bearer REDACTED_GROQ_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "REDACTED \u2014 proprietary prompt (see private repo / on request)",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "3a2eb10f-e41d-440b-9e11-f307316ba5b4",
      "name": "Groq API"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        448
      ],
      "id": "4f94605e-0969-4c9a-94af-063f1a46619b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8",
          "mode": "list",
          "cachedResultName": "Edit Theory - Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        448
      ],
      "id": "97704b4c-d670-4cc0-9dcc-488e71ba5ce9",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "fc9ddf82-2fe1-4b79-ae32-b89191793c48",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Sent",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        448
      ],
      "id": "3eadcccd-b55d-4b44-a40e-41c108e3d96d",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  let dateSent = String(item.json['Date Sent']);\n  let today = new Date();\n  today.setHours(0,0,0,0);\n  \n  let diffDays = 0;\n  \n  let day = parseInt(dateSent.substring(0, 2));\n  let month = parseInt(dateSent.substring(3, 5)) - 1;\n  let year = parseInt(dateSent.substring(6, 10));\n  \n  let parsedDate = new Date(year, month, day);\n  parsedDate.setHours(0,0,0,0);\n  \n  diffDays = Math.round((today - parsedDate) / 86400000);\n  \n  result.push({\n    json: {\n      ...item.json,\n      daysSinceSent: diffDays,\n      sendFollowUp1: diffDays >= 3 && diffDays < 7,\n      sendFollowUp2: diffDays >= 7 && diffDays < 14,\n      sendFollowUp3: diffDays >= 14\n    }\n  });\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        336
      ],
      "id": "0e907587-1833-4ec2-96dd-6ddf547171eb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": " Authorization",
              "value": "Bearer REDACTED_GROQ_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "REDACTED \u2014 proprietary prompt (see private repo / on request)",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        240
      ],
      "id": "d76b0c85-22cb-4a5b-be9c-b32724eaa205",
      "name": "Follow Up 1 Message"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8",
          "mode": "list",
          "cachedResultName": "Edit Theory - Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Follow Up 1 Sent",
            "Name": "={{ $('Check Follow Up 1').item.json.Name }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recent post topic",
              "displayName": "Recent post topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated Opener",
              "displayName": "Generated Opener",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Cold Email",
              "displayName": "Full Cold Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        240
      ],
      "id": "58a57bd1-557a-4616-b5ab-79e7af12f87e",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ae069fa0-f33b-4aba-81f8-7a49d10558a1",
              "leftValue": "={{ $json.sendFollowUp1 }}",
              "rightValue": "is true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        336
      ],
      "id": "09b4d526-f170-456a-ad6e-b7ba707ec0ee",
      "name": "Check Follow Up 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2f527fb-a229-4a51-819e-0af6bfad22e1",
              "leftValue": "={{ $json.sendFollowUp2 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        448
      ],
      "id": "d90fd245-0f55-43c8-9c78-3a66ac0b1668",
      "name": "Check Follow Up 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GROQ_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "REDACTED \u2014 proprietary prompt (see private repo / on request)",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1296,
        400
      ],
      "id": "3ace908f-cf6c-4726-acca-70f79c331031",
      "name": "Follow Up 2 Message"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8",
          "mode": "list",
          "cachedResultName": "Edit Theory - Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Follow Up 2 Sent",
            "Name": "={{ $('Check Follow Up 2').item.json.Name }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recent post topic",
              "displayName": "Recent post topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated Opener",
              "displayName": "Generated Opener",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Cold Email",
              "displayName": "Full Cold Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        400
      ],
      "id": "fe408afe-72de-47d8-aa75-f8d90363d72b",
      "name": "Update row in sheet1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3da3f3d8-9509-4983-a004-32a71f078d76",
              "leftValue": "={{ $json.sendFollowUp3 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        544
      ],
      "id": "75f72c32-689a-4fd8-829b-95fcaf24087a",
      "name": "Check Follow Up 3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GROQ_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "REDACTED \u2014 proprietary prompt (see private repo / on request)",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1424,
        704
      ],
      "id": "0da10366-766c-400c-b2ae-d90fda26d8dc",
      "name": "Follow Up 3 Message"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8",
          "mode": "list",
          "cachedResultName": "Edit Theory - Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Follow Up 3 Sent",
            "Name": "={{ $('Check Follow Up 3').item.json.Name }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recent post topic",
              "displayName": "Recent post topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated Opener",
              "displayName": "Generated Opener",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Cold Email",
              "displayName": "Full Cold Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        560
      ],
      "id": "8ec58c62-de09-49e9-bfa5-2b1683fb1df5",
      "name": "Update row in sheet2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -288
      ],
      "id": "1140ee74-9bbe-4d42-97da-e7a535b0106c",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "receivedAfter": "={{ $now.minus(2,'hours').toISO() }} "
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        -288
      ],
      "id": "80a14cfd-9645-4260-877d-aa7977aa0077",
      "name": "Get many messages",
      "webhookId": "766daea3-9b20-4fbd-b65b-dc87086e363b",
      "credentials": {
        "gmailOAuth2": {
          "id": "CcLIIt0WgoWmr6Dp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8",
          "mode": "list",
          "cachedResultName": "Edit Theory - Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -288
      ],
      "id": "0d3b9d7c-2e9d-4f41-8128-f65dc7c0e432",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yfp477dNvt36Ys1V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const gmailMessages = $('Get many messages').all();\nconst sheetRows = items;\n\nconst matched = [];\n\nfor (const msg of gmailMessages) {\n  const fromEmail = msg.json.From.match(/<(.+)>/)?.[1] || msg.json.From;\n\n  const matchingRow = sheetRows.find(row => row.json.Email === fromEmail);\n\n  if (matchingRow) {\n    matched.push({\n      json: {\n        rowNumber: matchingRow.json.row_number,\n        name: matchingRow.json.Name,\n        email: fromEmail,\n        replySnippet: msg.json.snippet,\n        subject: msg.json.Subject,\n        currentStatus: matchingRow.json.Status || ''\n      }\n    });\n  }\n}\n\nreturn matched;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -288
      ],
      "id": "7fad9cb8-89b8-4c1d-a160-282999c1688b",
      "name": "Code in JavaScript1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee16c629-0673-45db-84c7-96dd01447afc",
              "leftValue": "={{ $json.currentStatus }}",
              "rightValue": "Replied",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        -288
      ],
      "id": "71837c4d-80b0-4173-a47c-b55aa72c0d21",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8",
          "mode": "list",
          "cachedResultName": "Edit Theory - Lead Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i462JI5WXfJb6JYQPMAr1itf3eOMtnyDlAvQXKpsBW8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.rowNumber }}",
            "Status": "Replied"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Niche",
              "displayName": "Niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profile URL",
              "displayName": "Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recent post topic",
              "displayName": "Recent post topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated Opener",
              "displayName": "Generated Opener",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Cold Email",
              "displayName": "Full Cold Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        -347.58208955223876
      ],
      "id": "cf30cfa6-b488-463a-8438-3eeb7637def8",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yfp477dNvt36Ys1V",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Groq API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Respond": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq API": {
      "main": [
        [
          {
            "node": "Parse Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check Follow Up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up 1 Message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Follow Up 1": {
      "main": [
        [
          {
            "node": "Follow Up 1 Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Follow Up 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Follow Up 2": {
      "main": [
        [
          {
            "node": "Follow Up 2 Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Follow Up 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up 2 Message": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Follow Up 3": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Follow Up 3 Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9d1c58a9-1e65-4d66-8d86-48b19ab99cbb",
  "meta": {
    "instanceId": "6512bc55ec4a656c60bd19299f2bc14900d2b3d09d156ac46be847d72c78e0c4"
  },
  "nodeGroups": [],
  "id": "nS1WbykPX3oI9xml",
  "tags": []
}