5-email-digest/workflow.json
{
  "name": "Email Summary Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3cc6db77-4299-48b1-824e-af2f7223c1fb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{$now.minus(1,'days').toISO()}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "d87b5c70-4162-48a1-91c9-cef80e1f88e4",
      "name": "Get many messages",
      "webhookId": "0167ff86-2882-4ac8-9e99-647919afce6d",
      "credentials": {
        "gmailOAuth2": {
          "id": "CcLIIt0WgoWmr6Dp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const skipDomains = ['noreply', 'newsletter', 'notifications', 'marketing', 'no-reply'];\n\nreturn items.filter(item => {\n  const from = (item.json.From || '').toLowerCase();\n  return !skipDomains.some(pattern => from.includes(pattern));\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "e0c83f38-b605-4d50-9fa9-b93c36f01668",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama-3.3-70b-versatile\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an email triage assistant. Respond ONLY with valid JSON, no markdown fences, no preamble. Format: {\\\"priority\\\": \\\"🔴\\\" | \\\"🟡\\\" | \\\"🟢\\\", \\\"summary\\\": \\\"one line, max 15 words\\\", \\\"reason\\\": \\\"why this priority, max 8 words\\\"}. 🔴 = needs reply today. 🟡 = FYI, no action needed. 🟢 = can wait.\"\n    },\n    {\n      role: \"user\",\n      content: \"From: \" + $json.From + \"\\nSubject: \" + $json.Subject + \"\\nBody: \" + $json.snippet\n    }\n  ],\n  temperature: 0.3\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        0
      ],
      "id": "79281b22-b286-4a63-9d90-8b43e2b40f8a",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SZcLaO9JSfMYRtuf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const raw = item.json.choices[0].message.content;\n  const clean = raw.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(clean);\n\n  const originalIndex = item.pairedItem.item;\n  const original = $('Get many messages').all()[originalIndex].json;\n\n  return {\n    json: {\n      from: original.From,\n      subject: original.Subject,\n      priority: parsed.priority,\n      summary: parsed.summary,\n      reason: parsed.reason\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "56d4231e-c262-42f0-a6f0-361b9e5d37d2",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const items_in = items;\n\nconst order = { '🔴': 0, '🟡': 1, '🟢': 2 };\nitems_in.sort((a, b) => order[a.json.priority] - order[b.json.priority]);\n\nlet message = `📬 *Morning Digest — ${new Date().toDateString()}*\\n\\n`;\n\nconst counts = { '🔴': 0, '🟡': 0, '🟢': 0 };\nitems_in.forEach(item => counts[item.json.priority]++);\nmessage += `${counts['🔴']} need reply · ${counts['🟡']} FYI · ${counts['🟢']} can wait\\n\\n`;\n\nitems_in.forEach(item => {\n  const { priority, from, subject, summary } = item.json;\n  const fromName = from.split('<')[0].trim();\n  message += `${priority} *${fromName}*\\n${summary}\\n\\n`;\n});\n\nreturn [{ json: { message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ],
      "id": "125fe433-fecb-4085-974f-2ea06d4ff98b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "chatId": "7977658510",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        0
      ],
      "id": "2df5113c-e398-48bc-9ba9-79f63ffe7f3e",
      "name": "Send a text message",
      "webhookId": "75ba308a-89ca-46ee-bfb9-d191c18e688a",
      "credentials": {
        "telegramApi": {
          "id": "hHt86aRSiksHUQBS",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d577d408-2e8d-4dd2-bbd8-4b5938f18fad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6512bc55ec4a656c60bd19299f2bc14900d2b3d09d156ac46be847d72c78e0c4"
  },
  "nodeGroups": [],
  "id": "9Izt3xU7VwLfPrf1",
  "tags": []
}